name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy to Zeabur
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Zeabur CLI and Deploy
        run: npx zeabur deploy
        env:
          ZEABUR_TOKEN: ${{ secrets.ZEABUR_TOKEN }}
